.trip-form {
    min-height: calc(100vh - 120px);
    @include f-c-c-col;
    background-color: skyblue;
    background-image: url(../media/bg/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width:768px){
        min-height: calc(100vh - 100px);
    }

    &__block {
        max-width:460px;
        padding: 1.2em;
        background-color: rgba($color: $color-black, $alpha: 0.75);
        box-shadow: 0 48px 83px 0 rgba($color: $color-black, $alpha: 0.45);
        color: $color-white;
        border-radius: 6px;
    }


    &__entry {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.2em;


       label span {
           padding-bottom: 5px;
           display: inline-block;
       }
    }


    .datepicker {
        margin-top: -0.4em;
    }

    &__search {
        grid-area: 3/1/4/3;
        margin-top: -1.2em;
    }

    .page-title {
        margin: 1em 0 2.5em 0;

        h1 {
            font-size: 3em;
            
        }
    }
}