
@import "./lib/variables";
@import "./lib/mixins";
@import "./lib/keyframes";

@import "./base/global";
@import "./base/common";

@import "./components/buttons";
@import "./components/icons";
@import "./components/inputs";
@import "./components/loc-block";
@import "./components/destination-block";
@import "./components/error-block";
@import "./components/trip-block";

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./sections/trip-form";
@import "./sections/trip-create";
@import "./sections/trip-list";
