.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.2em;
}

.sec-title {
    margin: 1em 0;
    text-align: center;
    font-size: 2.5em;
}

.num-icon {
    height: 40px;
    width: 40px;
    background-color: $color-green;
    color: $color-white;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} 
